* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:linear-gradient(to right, 
  #6a1b82 0%, 
  #7e3f8e 20%, 
  #7e3f8e 40%, 
  #905599 60%, 
  #905599 80%, 
  #9e6ca8 100%
);
}

.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-weight: bold;
  border-radius: 25px;
}

.form-register h4 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #9c27b0; 
}

.controls {
  width: 100%;
  background: #252323;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #9c27b0;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  border-bottom: 2px solid #9c27b0;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #9c27b0;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
  transition: transform 0.3s ease;
}
.form-register .botons:hover {
  transform: scale(1.1);
}

.form-register .check-container {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
}

.form-register .check {
  position:relative;
  left:348px;
  bottom: 28px;



}